<link rel="stylesheet" href="../css/container.css" />
<link rel="stylesheet" href="../css/footer.css" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/base.css" />
<footer class="footer">
  <div class="container">
    <div class="interior-div">
      <div class="div-total-information">
        logo
        <p class="footer-paragraph">
          Subscribe to our newsletter for the latest updates on our yoga courses
          and events.
        </p>
        <form action="" class="footer-form">
          <input
            type="email"
            placeholder="Your email here"
            class="input-footer"
          />
          <button class="button-footer" type="submit">Join</button>
        </form>
        <p class="paragraph-under-button">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>

      <div class="lists">
        <div class="div-item">
          <h3 class="header">Quick Links</h3>
          <ul class="links-list">
            <li>Yoga Classes</li>
            <li>Team</li>
            <li>Pricing</li>
            <li>Contacts</li>
          </ul>
        </div>

        <div class="div-item">
          <h3 class="header">Connect With Us</h3>
          <ul class="links-list">
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">YouTube</a></li>
          </ul>
        </div>
      </div>

      <h4 class="last-header">© 2025 Yoga Studio. All rights reserved.</h4>
    </div>
  </div>
</footer>
